{{!-- {{log this}} --}}
<div class="container">
    <h2 class="title is-3">Contact</h2>
    <h3 class="subtitle is-4">Phone</h3>
    <h3 class="subtitle is-5">0400443343</h3>
    <h3 class="subtitle is-4">Email</h3>
    <h3 class="subtitle is-5">admin@dog-tech.com</h3>
</div>